.transboxregistrationxD {
    width: 90%;
  height: 0;

  margin: 10px auto 0; 
  padding: 5px;
  margin-bottom: 25px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all .6s;
    text-align: center;
    
    
    
} 



body {
     margin: 0;
     background-color: #F7F7F7;
}

    
nav[role="main"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 20px;
    
}



nav[role="main"] li a {
    display: block;
    color: white;
    padding: 32px 16px;
    text-decoration: none;
    text-align: center;
}

nav[role="main"] li a.active {
    background-color: #4CAF50;
    color: white;
}

nav[role="main"] li a:hover:not(.active) {
    background-color: #555;
    color: white;
} 

.editprofile {
    margin: 30 auto;
}
.profilecontent {
margin-left:25%;
padding:300px 16px; height:1000px; 
}
.tablecontent {
margin-left:16%;
padding:80px 0px;
height:10px;
width: auto;
    
}
.navi2 {
margin-left:15%;
padding:0px 0px; height: 0px;
    
}
    button.accordion {
        width: auto;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 30px 42px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 19px; 
    display: block; 
}
button.accordion.active, button.accordion:hover {
    background-color: #4CAF50;}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.tabelle {
    text-align: left;
    padding-left: 18%;
    font-size: 25px;
    width: 1500px;

}
    
button,input,select,textarea {
    font:inherit;
    margin:0 }

optgroup {
    font-weight:bold }

hr {
    border:0;
    border-top:1px solid #eee;
    margin:20px 0 }


.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after {
    content:"";
    display:table;
    clear:both }


.w3-hide {
    display:none!important }

.w3-show-block,.w3-show {
    display:block!important }
.w3-show-inline-block {
    display:inline-block!important }

.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}

.w3-green,.w3-hover-green:hover {
    color:#fff!important;
    background-color:#4CAF50!important }

.w3-btn,.w3-button {
    border:none;
    display:inline-block;
    outline:0;
    padding:16px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#333;
    text-align:center;
    cursor:pointer;
    white-space:nowrap } 

.w3-buttonA2 {
     border:none;
    display:inline-block;
    outline:0;
    padding: 8px 8px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#78B27A;
    text-align:center;
    cursor:pointer;
    white-space:nowrap } 

.w3-button2 { 
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 8px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#666;
    text-align:center;
    cursor:pointer;
    white-space:nowrap; 
    font-size: 15px; }

.w3-image {
    max-width:100%;
    height:auto }

img {
    margin-bottom:-5px }

a { color:inherit } 

.w3-btn,.w3-button {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none } 

a { 
    background-color:transparent;
    -webkit-text-decoration-skip:objects }

html,body { 
    font-family:Verdana,sans-serif;
    font-size:20px;
    line-height:1.5 }

html { 
    overflow-x:hidden } 

html { 
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%}



.w3-card,.w3-card-2 { 
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) } 

.w3-sidebar {
    height:100%;
    width:10%;
    background-color:#333;
    position:fixed!important;
    z-index:1;overflow:auto } 


.w3-white,.w3-hover-white:hover { 
    color:#000!important;
    background-color:#fff!important } 

.w3-container,.w3-panel {padding:0.01em 16px}

.w3-panel { 
    margin-top:16px;
    margin-bottom:16px }
.w3-buttonA {
     border:none;
    display:inline-block;
    outline:0;
    padding:16px 16px!important;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#4CAF50;
    text-align:center;
    cursor:pointer;
    white-space:nowrap } 

.w3-bar-block .w3-bar-item { 
    width:100%;
    display:block;
    padding:8px 8px;
    text-align:center;
    border:none;
    outline:none;
    white-space:normal;
    float:none } 
.w3-bar-block2 .w3-bar-item2 { 
    width:100%;
    display:block;
    padding:16px 16px;
    text-align:center;
    border:none;
    outline:none;
    white-space:normal;
    float:none } 
.w3-bar-item2 {
     width:100%;
    display:block;
    padding:8px 8px;
    text-align:center;
    border:none;
    outline:none;
    white-space:normal;
    float:none} 
    
.w3-image { max-width:100%; height:auto }

img { margin-bottom:-5px } a { color:inherit } 

a { 
    background-color:transparent;
    -webkit-text-decoration-skip:objects } 

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit} 

.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important} 

h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px} 

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
.w3-serif{font-family:serif}

.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,

.w3-sidebar{height:100%;width:200px;background-color:#333;position:fixed!important;z-index:1;overflow:auto}

@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}

@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}

.w3-bar .w3-bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    outline:none;
    display:block }

.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.w3-left-align{text-align:center}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}

.w3-button:hover{color:#000!important;background-color:#555!important}

.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}

.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#555;color:#000}


.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar .w3-button{white-space:normal}

.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}

.w3-button:hover{color:#000!important;background-color:#555!important}

.w3-button2:hover {color:#000!important;background-color:#555!important}

.transbox {
    margin: 0px;
    width: 60%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    text-align: center; }

input[type=text] {
    width: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    bottom: 0;
}

input[type=text]:focus {
    width: 100%;
    
}

.succi {
    margin-left: 20%!important;
    
    
}







